*.db
*.egg-info
*.log
*.pyc
*.sqlite3
*.bak
.DS_Store
.pytest_cache
.coverage
.coverage.*
.coveralls.yml
/coverage
.pyc
.vscode
.idea/
.vagrant
/.idea
/build
/dist
/env
backup.json
local_settings.py
local.env
.env
venv
venv3
/surface/Pipfile.lock
/explorer/static/orgchart/generated.js
*.retry
*.sqlite3-journal
secure.yaml
.swp
dev/media/
dev/static/
dev/nfs_shared/
dev/dkron/
dev/docker-compose.yml
dev/*.pem
ci.version
.mypy_cache/
docker/requirements_full.txt
.python-version
